.Container {
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgrey;
  padding-bottom: 5px;
  text-align: center;
}
